<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.memorizer.memorizer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo4"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".create.MemoCreate"
            android:label="@string/activity_memo_create"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.memorizer.memorizer.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.memorizer.memorizer.MainActivity" />
        </activity>

        <activity android:name=".MemoAlarmActivity"
            android:label="MemoCreate"
            android:theme="@android:style/Theme.Material.Dialog"/>

        <activity android:name=".DeveloperInfo"
            android:label="@string/activity_developer"
            android:theme="@style/AppTheme.NoActionBar"/>

        <!-- 브로드캐스트 리시버 등록 -->
        <receiver android:name=".MemorizerReciver">
            <intent-filter>
                <action android:name="com.memorizer.memorizer.alarmTrigger"/>
                <action android:name="com.memorizer.memorizer.nextAlarm"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>