<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.memorizer.memorizer">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Google Drive -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo5"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".memolist.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="com.memorizer.memorizer" />
            </intent-filter>
        </activity>

        <activity
            android:name=".create.MemoCreate"
            android:label="@string/activity_memo_create"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.memorizer.memorizer.memolist.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.memorizer.memorizer.memolist.MainActivity" />
        </activity>

        <activity android:name=".search.SearchActivity"
            android:label="Search Memo"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.memorizer.memorizer.memolist.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.memorizer.memorizer.memolist.MainActivity" />
        </activity>

        <activity android:name=".search.LabelListDialog"
            android:theme="@style/NoActionBar"/>

        <!--<activity android:name=".MemoAlarmActivity"
            android:theme="@style/NoActionBar"/>-->

        <activity android:name=".alarm.MemoAlarmDragActivity"
            android:theme="@style/NoActionBar"
            android:label=" "/>

        <activity android:name=".DeveloperInfo"
            android:label="@string/activity_developer"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.memorizer.memorizer.memolist.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.memorizer.memorizer.memolist.MainActivity" />
        </activity>

        <!-- 브로드캐스트 리시버 등록 -->
        <receiver android:name=".MemorizerReceiver">
            <intent-filter>
                <action android:name="com.memorizer.memorizer.alarmTrigger"/>
                <action android:name="com.memorizer.memorizer.nextAlarm"/>
            </intent-filter>
        </receiver>

        <!-- 부팅 정보 리시버 등록 -->
        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- 위젯 리시버 등록 -->
        <receiver
            android:name="com.memorizer.memorizer.widget.MainWidget"
            android:label="@string/widget_select_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.memorizer.memorizer.NEW_MEMO" />
                <action android:name="com.memorizer.memorizer.LEFT_MEMO" />
                <action android:name="com.memorizer.memorizer.RIGHT_MEMO" />
                <action android:name="com.memorizer.memorizer.OPEN_MEMO" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/memorizer_widget_provider" />
        </receiver>

        <!-- 위젯 리스트 리시버 등록 -->
        <receiver
            android:name="com.memorizer.memorizer.widget.ListWidget"
            android:label="@string/widget_list_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.memorizer.memorizer.OPEN_MEMO" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/memorizer_widget_list_provider" />
        </receiver>

        <service
            android:name="com.memorizer.memorizer.widget.WidgetListService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>